/* src/world/country-summary.css */
.root {
  font-family: system-ui, sans-serif;
  display: grid;
}

.flag {
  font-family: 'Noto Color Emoji', 'Noto Emoji', monospace;
  font-size: 70px;
  /*grid-row-start: 1;*/
  /*grid-row-end: 3;*/
  /*grid-column-start: 1;*/
  /*grid-column-end: 3;*/
}

.full {
  grid-column-start: 1;
  grid-column-end: 3;
  min-width: 200px;
  max-width: 260px;
}

h2, p {
  margin: 0;
  padding: 0 3em 0 0;
  line-height: 1.3;
  font-size: medium;
  font-family: system-ui, sans-serif;
}

h2 {
  opacity: 0.8;
  word-wrap: break-word;
  font-weight: 100;
  font-style: italic;
}
